<nav class="flex flex-col hidden" data-controller="navbar">
    <button class="self-end" data-action="click->navbar#toggle" >
        Click Me!
    </button>
    <ul class="self-end hidden" data-navbar-target="links">
        <li>
            <a href="#">Link 1</a>
        </li>
        <li>
            <a href="#">Link 2</a>
        </li>
        <li>
            <a href="#">Link 3</a>
        </li>
    </ul>
</nav>